REACT_APP_SERVER=<YOUR SERVER>
REACT_APP_DOMAIN=<YOUR SIDE DOMAIN>
REACT_APP_CLIENTID=<YOUR CLIENT ID>
REACT_APP_MAPBOX_API_PUBLIC_KEY=<YOUR API KEY>
REACT_APP_JWKS_URI=<YOUR KEY>
REACT_APP_ACCESS_TOKEN=<YOUR ACCESS TOKEN>
REACT_APP_LOCATIONIQ_API_KEY=<YOUR LOCATION API KEY>