REACT_APP_SERVER=<YOUR SERVER>
REACT_APP_DOMAIN=<YOUR SERVER>
REACT_APP_CLIENTID=<YOUR SERVER>
REACT_APP_MAPBOX_API_PUBLIC_KEY=<YOUR SERVER>
REACT_APP_JWKS_URI=<YOUR SERVER>
REACT_APP_ACCESS_TOKEN=<YOUR SERVER>
REACT_APP_LOCATIONIQ_API_KEY=<YOUR SERVER>