.user_photo {
  border-radius: 10px;
  height: 1em;
}

.profile-container {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.username-font {
  
}

.email-font {
  
}